---
import FormSignIn from '../../modules/FormSignIn.astro';
import LayoutCommon from '../../app/LayoutCommon.astro';
---

<LayoutCommon>
	<div class="flex overflow-hidden bg-gray-50 dark:bg-gray-900">
		<div
			id="main-content"
			class="relative w-full max-w-screen-2xl mx-auto h-full overflow-y-auto bg-gray-50 dark:bg-gray-900 min-h-screen"
		>
			<div class="px-4 pt-2 2xl:px-0">
				<div class="min-h-screen align-top flex pb-[6vh]">
					<FormSignIn />
				</div>			
			</div>
			<p class="my-10 text-sm text-center text-gray-500">
				&copy;{new Date().getFullYear()}. All rights reserved.
			</p>
		</div>
	</div>
</LayoutCommon>


